<html> 
    <head> 

    </head>

    <body>
        <h1> Cucina d'Italia </h1>
        <img src="{{url_for('static', filename='images/cotoletta.jpg')}}" align="middle" />
        <br> 
        <br> 
        <p> Cotoletta </p>
        <br> 
        <br> 
        <img src="{{url_for('static', filename='images/pizza.jpg')}}" align="middle" />
        <br> 
        <br> 
        <p> Pizza </p>
        <br> 
        <br> 
        <img src="{{url_for('static', filename='images/lasagna.jpg')}}" align="middle" />
        <br> 
        <br> 
        <p> Lasagna </p>
        <br> 
        <br> 
        <img src="{{url_for('static', filename='images/pastiera.jpg')}}" align="middle" />
        <br> 
        <br> 
        <p> Pastiera </p>
        <br> 
        <br> 
    </body>
</html>