<html> 
    <head> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    </head>

    <body class = "immaginicentrate">

       <h1> Ricetta Cotoletta</h1>
       <p> INGREDIENTI
        200 g di fettine di vitello o vitellone, maiale o pollo
        2 uova di gallina
        1 cucchiaio di latte
        Pepe nero macinato al momento
        200 g di pane grattugiato
        60 g di Parmigiano Reggiano
        Olio di semi di arachide o di oliva per frittura
        Sale</p>
        <img src="{{url_for('static', filename='images/pre.coto.jpg')}}" align="middle" />
        <img src="{{url_for('static', filename='images/precot.jpg')}}" align="middle" />
    </body>

</html>